.paginatorContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border: 0.5px solid #E6E8E8;
    padding: 11px 16px;
    background-color: var(--white);
    border-radius: 5px;
}