.input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  
    .label {
      font-size: 16px;
      color: var(--black);
    }
  
    .float_label {
      position: absolute;
      color: var(--black);
      background-color: var(--white);
      font-size: x-small;
      transition: all 0.2s ease-in-out;
      pointer-events: none;
      padding: 0px 2px;
      z-index: 1;
      transform: translate(14px, 21px);
  
      &.error_float_label {
        color: var(--error);
      }
    }
  
    .input_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      background-color: var(--white);
      border: 1px solid var(--gray);
      border-radius: 6px;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      padding-right: 6px;

      &:hover {
        border: 1px solid var(--primary);
      }
  
      &:focus {
        border-color: var(--primary);
        box-shadow: 0 0 0 3px var(--primary)4b;
        outline: none;
        outline-offset: 0;
      }
  
      &.disabled {
        background-color: var(--gray);
      }
  
      &.rounded {
        border-radius: 25px;
      }
  
      &.error {
        border: 1px solid var(--error);
      }
  
      .input {
        color: var(--black);
        font-weight: 400;
        all: unset;
        font-size: 14px;
        width: 100%;
        padding: 0.75rem;
        font-size: 14px;
  
        &.small {
          padding: 0.35rem;
          font-size: 0.88rem;
        }
  
        &.normal {
          padding: 0.55rem;
          font-size: 14px;
        }
  
        &.large {
          font-size: 1.25rem;
          padding: 0.75rem;
        }
      }
  
      .input_image {
        cursor: pointer;
      }
    }
  
    .helper_text {
      font-size: smaller;
      color: var(--black);
  
      &.error_text {
        color: var(--error);
      }
    }
  }
  